.md-list-item-text {
  .md-chip {
    margin: 4px 0 0;
  }
}

.md-chip {
  width: unset !important;
  height: 26px !important;

  .md-ripple {
    font-size: 12px !important;
    line-height: 26px !important;
  }
}

.completed {
  text-decoration: line-through;
}

.md-list.md-double-line .md-list-item-content {
  min-height: 60px;
}

.md-list {
  padding: 0 !important;
}

.md-toolbar {
  &.fixed {
    position: fixed;
    top: 0;
    z-index: 9;
  }

  &.md-primary {
    *,
    input::placeholder {
      color: white !important;
      -webkit-text-fill-color: white !important;
    }
  }
}

.md-content {
  position: relative;
  top: 64px;
  max-height: calc(100vh - 64px);
}

.md-field.md-theme-default:after {
  background-color: rgba(255, 255, 255, 0.42) !important;
}

.calendar-item {
  cursor: default;
}

.calendar-item-time {
  position: absolute;
  bottom: 0;
  right: 3px;
  width: unset !important;
  font-size: 12px !important;
  opacity: 0.7;

  &.passed {
    color: red;
  }
  &.passed.completed {
    color: unset;
  }
}
